---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout>
	<header>
		<h1>Welcome to Astro+Flowbite boilerplate</h1>
	</header>
	<main>
		<p>You can now start hacking away!</p>
	</main>
</BaseLayout>
