---
/** Main menu items */
const textLinks: { label: string; href: string }[] = [
	{ label: 'Home', href: '/' },
	{ label: 'Users', href: '/api/users' },
	{ label: 'Products', href: '/api/products' },
]
---

<nav class="bg-white border-gray-200 dark:bg-gray-900">
	<div class="hidden w-full md:block md:w-auto" id="navbar-default">
		{/*Unocss test - attributify */}
		<ul bg="orange" flex="~ row" items="center" gap="5" h="12" p="3">
			{
				textLinks.map(({ label, href }) => (
					<li>
						<a
							aria-current={Astro.url.pathname === href}
							class:list={[
								'link',
								{
									active:
										Astro.url.pathname === href ||
										(href !== '/' && Astro.url.pathname.startsWith(href)),
								},
								'block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent',
							]}
							href={href}
						>
							{label}
						</a>
					</li>
				))
			}
		</ul>
	</div>
</nav>
