---
/** Main menu items */
const textLinks: { label: string; href: string }[] = [
	{ label: 'Home', href: '/' },
	{ label: 'Users', href: '/api/users' },
	{ label: 'Products', href: '/api/products' },
]
---

<nav id="main-nav" bg="orange dark:gray-900" border="1px red">
	<div w-full w-auto="md">
		<ul flex="~ row" items="center" gap="5" h="12" p="3">
			{
				textLinks.map(({ label, href }) => (
					<li>
						<a
							aria-current={Astro.url.pathname === href}
							class:list={[
								'link',
								{
									active:
										Astro.url.pathname === href ||
										(href !== '/' && Astro.url.pathname.startsWith(href)),
								},
							]}
							bg="hover:gray-100 dark:hover:gray-700 md:hover:transparent"
							text="gray-900 md:hover:blue-700 dark:white md:dark:hover:blue-500 dark:hover:white"
							py="2"
							px="4"
							rounded
							href={href}
						>
							{label}
						</a>
					</li>
				))
			}
		</ul>
	</div>
</nav>
